<h1>수정해</h1>
<%= render 'form' %>
<!--
<form action="/posts/<%#@post.id%>" method="post">
  <input type="text" name="title" value="<%#@post.title%>"/> <br />
  <textarea name="content"><%#@post.content%></textarea> <br />
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="authenticity_token" value="<%#form_authenticity_token%>">
  <input type="submit" />
</form> -->

<!-- <%# form_tag("/posts/#{@post.id}", method: 'put') do %>
  <%# text_field_tag :title, @post.title %>
  <%# text_area_tag :content, @post.content %>
  <%# submit_tag "뿅!"%>
<%# end %> -->
