<h1>글 써</h1>
<%= render 'form' %>
<!-- <form action="/posts" method="post">
  <input type="text" name="title" /> <br />
  <textarea name="content"></textarea> <br />
  <input type="hidden" name="authenticity_token" value="<%#form_authenticity_token%>">
  <input type="submit" />
</form> -->

<%# form_tag('/posts', method: 'post') do %>
  <%# text_field_tag :title %>
  <%# text_area_tag :content %>
  <%# submit_tag "뿅!"%>
<%# end %>
