<div class="text-center" style="width: 90%;">
  <h3>주문하기</h3>
</div>

<div class="card text-center" style="width: 90%;">
  <div class="card-header">
    주문자정보
  </div>

  </div>
  <div class="card-footer text-muted">
     구매 확인을 해주세요
  </div>
</div>
