<!-- <ul class="list-unstyled">
  <li class="media">
    <img class="mr-3" src=".../64x64" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">트와이스</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media my-4">
    <img class="mr-3" src=".../64x64" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">방탄소년단</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media">
    <img class="mr-3" src=".../64x64" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
</ul> -->

Ranking Top10 In this month
<br />
<div class="card text-center" style="width: 90%;">
  <div class="card-header">
    The week of June 28, 2018
  </div>
  <div class="card-body" >
    <!-- 여기서 부터 -->
    <div class="card" style="width:100%;">
      <ul class="list-center" style="margin-top:15px">
        <!-- 반복 -->
        <!-- .each_with_index do |group, idx| -->
        <!-- controller에서 넘길때 상위10개만뽑아서 넘겨야한당 -->
        <li class="media" >
          <div class="row" style="width:100%;">
            <div class="col-sm text-center">1</div>
            <!-- <div class="col-sm"><img class="mr-3" src="/app/assets/images/redvelvet.jpg/64x64" alt="Generic placeholder image"></div> -->
             <div class="col-sm" style="width:64px; heignt:64px;"><%= image_tag ("wanna.jpg"), class: "d-block w-100" %></div>
            <div class="col-sm"><h5 class="mt-0 mb-1">트와이스</h5></div>
          </div>
        </li>
      </ul>
      <!-- 여기까지 -->
    </div>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>


 <!-- <h5 class="card-title">Special title treatment</h5> -->
<!-- 여기서 부터 -->
<!-- <ul class="list-unstyled">
  <li class="media">
    <img class="mr-3" src=".../64x64" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">트와이스</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
</ul> -->
<!-- 여기까지 -->


<!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->
