/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  font-family: 'WONDotum';
}

.navbar-collapse{
  border-top: 1px solid #b3b3b3
}
.nav-item{
   border-bottom: 3px solid #ffffff;
 }
.nav-item:hover{
  border-bottom: 3px solid #99ffcc;
}

 .card {
   width: 18rem;
   border-radius: 0;
 }

 #banner {
   height: 150px;
 }
 #logo {
   font-family: 'Kaushan Script', cursive;
 }

 .profile-img{
   width: 50px;
   height: 50px;
 }

/* card */

 .card-img-top {
     width: 100%;
     height: 15vw;
     object-fit: cover;
 }
 .col-lg-3 {
   padding-right: 0 !important;
   padding-left: 0 !important;
 }

 .card-title{
   color: black !important;
   text-decoration: none !important;
 }
 .card-title:hover{
   text-decoration: underline !important;
 }

 .card-title > h5 {
   color: black;
 }
 .fas {
   color: #66ffcc;
 }
 .far {
   color: #66ffcc;
 }

 .progress {
   margin-bottom: 10px;
 }

 .progress-bar {
    background-color: #66ffcc !important;
 }

 .top_img{
   object-fit: cover;
 }
 /* Bottom left text */
 .bottom-left {
     position: absolute;
     bottom: 8px;
     left: 16px;
 }

 @font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'WONDotum'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONDotum.woff') format('woff'); font-weight: normal; font-style: normal; }
